.container {
    align-items: center;
    display: flex;
    background-color: white;
    border-radius: 10vh;
    border-style: solid;
    border-color: rgba(116, 115, 113, 0.774);
    border-width: 3px;
    transition: border-color 0.4s;
}
.input {
    border-style: none;
    border-radius: 10vh;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 2vh;
    outline: none;
    height: 4vh;
    width: 60vh;
}

.focused {
    border-color: #76993D;
    outline: none;
  }
  .icon {
    height: 3vh;
    width: 3vh;
    color: white;
  }
  .icon_container {
    align-items: center;
    background-color: #76993D;
    border-radius: 3vh;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 6px;
    margin: 2px;
    height: 5vh;
    width: 5vh;
  }