.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 10vh;
  border: 3px solid rgba(116, 115, 113, 0.774);
  transition: border-color 0.4s;
  box-sizing: border-box;
  width: 66vh;
}

.input {
  flex-grow: 1;
  border: none;
  border-radius: 10vh;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  padding: 2vh;
  outline: none;
  height: 4vh;
  min-width: 0;
  width: 66vh;
}

.focused {
  border-color: #76993D;
  outline: none;
}

.icon {
  height: 3vh;
  width: 3vh;
  color: white;
}

.icon_container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #76993D;
  border-radius: 3vh;
  cursor: pointer;
  padding: 6px;
  margin: 2px;
  height: 5vh;
  width: 8vh;
  transition: transform 0.3s ease, background-color 0.5s ease;
}

.icon_container:hover {
  background-color: #89ad50;
  transform: scale(1.05);
}

@media only screen and (max-width: 1110px) {
  .container {
      max-width: 44vh;
  }
}

@media only screen and (max-width: 350px) {
  .container {
      max-width: 34vh;
  }
  .input {
      flex-grow: 1;
      max-width: 26vh;
  }
}