.container {
    align-items: center;
    background-color: #76993D;
    border-radius: 10vh;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    height: 6vh;
    width: 30vh;
    transition: transform 0.3s ease, background-color 0.4s ease;
}
.container:hover {
    background-color: #86d407e8;
    transform: scale(1.04);
}
.title {
    font-size: 32px;
    font-weight: 400;
}