.light_container {
    background-color: #dededf;
    min-height: 100vh;
    transition: background-color 1s ease;
}
.dark_container {
    background-color: #161b22e1;
}
.top_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.icon {
    height: 10vh;
    width: 10vh;
}
.title {
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    margin-bottom: 5vh;
    transition: color 1s ease;
}

.title_dark {
    color: white
}
.content {
    margin-top: 8vh;
    align-items: center;
    display: flex;
    justify-content: center;
}

.repositories_content {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; adicionar no caso mobile*/ 
  }
  
  .repositories_content > div {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 48%;
    margin: 15px;
  }
  .modal_container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  .modal_image_container {
    align-items: center;
    color: #76993D;
    display: flex;
    flex-direction: column;
    padding-right: 8vh;
  }
  .modal_image {
    border-radius: 10px;
    height: 20vh;
    width: 20vh;
  }
  .modal_description {
    color: white;
    width: 50vh;
  }
  .description {
    font-size: 28px;
    font-weight: 400;
  }
  .modal_item_title {
    font-size: 26px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
  }