.light_container {
    background-color: #dededf;
    transition: background-color 1s ease;
}
.dark_container {
    background-color: #161b22e1;
}
.top_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.icon {
    height: 10vh;
    width: 10vh;
}
.title {
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    margin-bottom: 5vh;
    transition: color 1s ease;
}

.title_dark {
    color: white
}

.repositories_content {
    align-items: center;
    margin-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .repositories_content > div {
    width: 48%;
    margin: 15px;
  }