.container {
    align-items: center;
    background-color: transparent;
    display: flex;
    padding-top: 2vh;
    justify-content: space-between;
}


.icon {
    margin-left: 15vh;
    height: 10vh;
    width: 10vh;
}


@media only screen and (max-width: 1110px) {
    .container {
        margin-bottom: 4vh;
    }
    .icon {
        margin-left: 0vh;
    }
  }